.navbar
{
    top: 0;
    left: 0;
    padding: 0.6em;
    gap: 0.6em;
    width: 100%;
    height: 4.3em;
    border-bottom: 1px solid var(--backgroundcolor-4);
    background-color: var(--backgroundcolor-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

    .navbar-left
    {
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .searchmusic-bar
        {
            padding: 0.6em;
            width: 100%;
            height: 100%;
            border: 1px solid var(--backgroundcolor-4);
            outline: none;
            border-radius: var(--borderradius-square);
            background-color: var(--backgroundcolor-1);
            font-size: 1.2em;
            color: var(--textcolor-4);
        }

    .navbar-right
    {
        gap: 0.6em;
        width: fit-content;
        height: 100%;

        display: flex;
    }

        .theme-button
        {
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: var(--borderradius-circle);
            font-size: 1.5em;
            font-weight: 500;
            color: var(--textcolor-4);
            border: none;
            outline: none;
            background-color: var(--backgroundcolor-1);
            cursor: pointer;
            &:hover{background-color: var(--backgroundcolor-3);}
        }

        .addmusic-button
        {
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: var(--borderradius-circle);
            font-size: 1.8em;
            font-weight: 500;
            color: var(--textcolor-4);
            border: none;
            outline: none;
            background-color: var(--backgroundcolor-1);
            cursor: pointer;
            overflow: hidden;
            &:hover{background-color: var(--backgroundcolor-3);}
        }

.sidebar
{
    padding: 0.6em;
    gap: 0.6em;

    width: 100%;
    height: calc(100% - 4.3em);

    display: flex;
    align-items: center;
    flex-direction: column;
}

    .user-controls
    {
        padding: 0.6em;
        gap: 1em;

        width: 100%;
        max-width: 50em;
        height: fit-content;

        border-radius: var(--borderradius-square);
        background-color: var(--backgroundcolor-2);

        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

        .playpause-button
        {
            padding: 0.6em; 

            border: none;
            outline: none;

            width: 5em;
            height: fit-content;

            color: var(--textcolor-1);

            border-radius: var(--borderradius-square);
            background-color: var(--backgroundcolor-3);

            cursor: pointer;

            &:hover{background-color: var(--backgroundcolor-4);}
        }

    .user-playlist
    {
        gap: 0.6em;

        width: 100%;
        height: fit-content;

        display: flex;
        align-items: center;
        flex-direction: column;
    }

        li
        {
            padding: 0.6em;
            gap: 0.6em;

            width: 100%;
            max-width: 50em;
            
            color: var(--textcolor-4);
            border-radius: var(--borderradius-square);
            border: 1px solid var(--backgroundcolor-4);

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            word-break: break-all;
            justify-content: space-between;
            cursor: pointer;
            position: relative;
            
            &:hover{background-color: var(--backgroundcolor-2);}
        }

            .wrap-wrapper
            {
                gap: 0.6em;

                width: 100%;
                height: fit-content;

                display: flex;
                align-items: center;
                flex-direction: row-reverse;
            }

                .deletebutton-li
                {
                    padding: 0.6em; 

                    border: none;
                    outline: none;

                    width: 5em;
                    height: 2.5em;

                    color: var(--textcolor-2);

                    border-radius: var(--borderradius-square);
                    background-color: var(--backgroundcolor-3);

                    cursor: pointer;

                    &:hover{background-color: var(--backgroundcolor-4);}
                }

                .deletebutton-li {background-color: var(--backgroundcolor-a); &:hover{background-color: var(--backgroundcolor-b);}}